<div class="container">
    <h1 class="py-3 text-center">SHOW API LIST</h1>
    
    <a routerLink="/add-component" class="btn btn-success">Thêm mới</a>
    <hr>
    
    <app-search (searchTextChange)="onFilterSearchText($event)"></app-search>
    <hr>
    <table class="table table-bordered">
      <thead class="table-dark">
        <tr>
          <th>#</th>
          <th width="15%">Avatar</th>
          <th>name</th>
          <th>username</th>
          <th>gender</th>
          <th>edit</th>
          <th>delete</th>
        </tr>
      </thead>
  
      <tbody>
          <tr *ngFor="let item of data, let i = index">
            <td *ngIf="(searchText==='' || item.name.toLowerCase().includes(searchText) || item.username.toLowerCase().includes(searchText)) && checkDisplayList(i+1)">{{i+1}}</td>
            <td *ngIf="(searchText==='' || item.name.toLowerCase().includes(searchText) || item.username.toLowerCase().includes(searchText)) && checkDisplayList(i+1)"><img src="{{item.avatar}}" width="100%"/></td>
            <td *ngIf="(searchText==='' || item.name.toLowerCase().includes(searchText) || item.username.toLowerCase().includes(searchText)) && checkDisplayList(i+1)">{{item.name}}</td>
            <td *ngIf="(searchText==='' || item.name.toLowerCase().includes(searchText) || item.username.toLowerCase().includes(searchText)) && checkDisplayList(i+1)">{{item.username}}</td>
            <td *ngIf="(searchText==='' || item.name.toLowerCase().includes(searchText) || item.username.toLowerCase().includes(searchText)) && checkDisplayList(i+1)">{{item.gender}}</td>
            <td *ngIf="(searchText==='' || item.name.toLowerCase().includes(searchText) || item.username.toLowerCase().includes(searchText)) && checkDisplayList(i+1)"><a class="btn btn-warning" routerLink="/edit/{{item.id}}">Edit</a></td>
            <td *ngIf="(searchText==='' || item.name.toLowerCase().includes(searchText) || item.username.toLowerCase().includes(searchText)) && checkDisplayList(i+1)"><button (click)="deleteUser(item.id)"  class="btn btn-danger">Delete</button></td>
          </tr>
      </tbody>
    </table>

    <app-pagination [currentPage]="currentPageData" [totalPages]="totalPagesData" (pageChange)="pageChange($event)"></app-pagination>
  </div>