<div class="container">
    <a href="list-component" class="btn btn-danger">Danh sách</a>
    <h1 class="mt-3">Add new user</h1>
    <form action="" [formGroup]="username" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-12 my-3">
                <input type="text" placeholder="Avatar..." class="form-control" formControlName="avatar">
                <div *ngIf="username.controls['avatar'].hasError('required')" class="alert alert-danger">
                    avatar bat buoc phai nhap
                </div>
            </div>

            <div class="col-12 mb-3">
                <input type="text" placeholder="name..." class="form-control" formControlName="name">
                <div *ngIf="username.controls['name'].hasError('required')" class="alert alert-danger">
                    name bat buoc phai nhap
                </div>
            </div>

            <div class="col-12 mb-3">
                <input type="text" placeholder="username..." class="form-control" formControlName="username">
                <div *ngIf="username.controls['username'].hasError('required')" class="alert alert-danger">
                    username bat buoc phai nhap
                </div>
            </div>

            <div class="col-12 mb-3">
                <input type="text" placeholder="gender..." class="form-control" formControlName="gender">
                <div *ngIf="username.controls['gender'].hasError('required')" class="alert alert-danger">
                    gender bat buoc phai nhap
                </div>
            </div>
        </div>

        <button class="btn btn-primary" [disabled]="username.invalid">Thêm mới</button>

    </form>
</div>